[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "public"]
	path = public
	url = https://github.com/jang2078/jang2078.github.io.git
	branch = master
